
<div class="wrapper">
  <nav>
    <ul>
        <li><a class="active" href="#">Volver</a></li>
    </ul>
  </nav>

  <div class="main-content container">
    <div class="booking-form">
        <h3>Reserva de vuelos</h3>
        <div class="input-group">
            <label for="">Vuela desde</label>
            <input id="flying-from" class="inp-style" type="text" name="" placeholder="Dhake, Bangladesh" value="">
        </div>
        <div class="input-group">
            <label for="">Vuela para</label>
            <input id="flying-to" class="inp-style" type="text" name="" placeholder="New York, United States"
                value="">
        </div>
        <div class="inputs">
            <div class="input-group">
                <label for="">Parte</label>
                    <input id="departure-date" class="inp-style" type="date" name="" value="">
            </div>
            <div class="input-group">
                <label for="">Regresa</label>
                <input id="return-date" class="inp-style" type="date" name="">
            </div>
        </div>
        <div class="input-group f-class">
            <div>
                <label for="">Primera clase ($150)</label>
                <input id="first-count" class="inp-style inp-width" type="number" name="" value="0">
            </div>
            <div class="plus-minus-btn">
                <button id="first-plus-btn"> + </button> <button id="first-minus-btn"> - </button>
            </div>
        </div>

        <div class="input-group f-class">
            <div>
                <label for="">Clase economica ($100)</label>
                <input id="economy-count" class="inp-style inp-width" type="number" name="" value="0">
            </div>
            <div class="plus-minus-btn">
                <button id="economy-plus-btn"> + </button> <button id="economy-minus-btn"> - </button>
            </div>
        </div>
        <div class="calculations">
            <div class="amount">
                <div class="left">
                    <p>Subtotal</p>
                </div>
                <div class="right">
                    <p>$ <span id="sub-total">0</span></p>
                </div>
            </div>

            <div class="amount">
                <div class="left">
                    <p>Iva 19% </p>
                </div>
                <div class="right">
                    <p>$ <span id="total-vat">0</span></p>
                </div>
            </div>
            <hr>
            <div class="amount">
                <div class="left">
                    <h4>Total</h4>
                </div>
                <div class="right">
                    <p>$ <span id="total-price">0</span></p>
                </div>
            </div>
        </div>
        <h3 id="conformation-message" class="conformation"></h3>
        <button id="book-btn" class="btn-style">Reserva ahora</button>
    </div>

    <div class="booking-content">
        <h1>DESCUBRE <br> A TRAVES DEL MUNDO</h1>

</div>

