
<div class="wrapper">
  <nav>
    <ul>
        <li><a class="active" href="#">Volver</a></li>
    </ul>
  </nav>

  <div class="main-content container">
    <form [formGroup]="myForm" class="booking-form">
        <h3>Reserva de vuelos</h3>
        <span *ngIf="error" class="alert alert-danger">Todos los campos son obligatorios solo puedes escoger una silla</span>
        <div class="input-group">
            <label for="">Seleccionar vuelo</label>
            <select formControlName="idVuelo" >
              <option   *ngFor ="let item of vuelos;let i=index" [value] = "item.idVuelo" >{{aeropuertosOrigen[i]}} - {{aeropuertosDestino[i]}}</option>
            </select>
        </div>
        <div class="input-group f-class">
            <div>
                <label for="">Clase vip</label>
            </div>
            <div class="plus-minus-btn">

            </div>
        </div>
        <div class="contenedor-asientos" multiple >
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoPrimera('00')" type="checkbox"/>
            <input (click)="sasientoPrimera('01')" type="checkbox"/>
            <input (click)="sasientoPrimera('02')" type="checkbox"/>
            <input (click)="sasientoPrimera('03')" type="checkbox"/>
            <input (click)="sasientoPrimera('04')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoPrimera('10')" type="checkbox"/>
            <input (click)="sasientoPrimera('11')" type="checkbox"/>
            <input (click)="sasientoPrimera('12')" type="checkbox"/>
            <input (click)="sasientoPrimera('13')" type="checkbox"/>
            <input (click)="sasientoPrimera('14')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoPrimera('20')" type="checkbox"/>
            <input (click)="sasientoPrimera('21')" type="checkbox"/>
            <input (click)="sasientoPrimera('22')" type="checkbox"/>
            <input (click)="sasientoPrimera('23')" type="checkbox"/>
            <input (click)="sasientoPrimera('24')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoPrimera('30')" type="checkbox"/>
            <input (click)="sasientoPrimera('31')" type="checkbox"/>
            <input (click)="sasientoPrimera('42')" type="checkbox"/>
            <input (click)="sasientoPrimera('43')" type="checkbox"/>
            <input (click)="sasientoPrimera('44')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoPrimera('50')" type="checkbox"/>
            <input (click)="sasientoPrimera('51')" type="checkbox"/>
            <input (click)="sasientoPrimera('52')" type="checkbox"/>
            <input (click)="sasientoPrimera('53')" type="checkbox"/>
            <input (click)="sasientoPrimera('54')" type="checkbox"/>
          </div>
        </div>

        <div class="input-group f-class">
            <div>
                <label for="">Clase Normal</label>
            </div>
            <div class="plus-minus-btn">
            </div>
        </div>
      <div class="contenedor-asientos" multiple >
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoEconomico('00')" type="checkbox"/>
            <input (click)="sasientoEconomico('01')" type="checkbox"/>
            <input (click)="sasientoEconomico('02')" type="checkbox"/>
            <input (click)="sasientoEconomico('03')" type="checkbox"/>
            <input (click)="sasientoEconomico('04')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoEconomico('10')" type="checkbox"/>
            <input (click)="sasientoEconomico('11')" type="checkbox"/>
            <input (click)="sasientoEconomico('12')" type="checkbox"/>
            <input (click)="sasientoEconomico('13')" type="checkbox"/>
            <input (click)="sasientoEconomico('14')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoEconomico('20')" type="checkbox"/>
            <input (click)="sasientoEconomico('21')" type="checkbox"/>
            <input (click)="sasientoEconomico('22')" type="checkbox"/>
            <input (click)="sasientoEconomico('23')" type="checkbox"/>
            <input (click)="sasientoEconomico('24')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoEconomico('30')" type="checkbox"/>
            <input (click)="sasientoEconomico('31')" type="checkbox"/>
            <input (click)="sasientoEconomico('42')" type="checkbox"/>
            <input (click)="sasientoEconomico('43')" type="checkbox"/>
            <input (click)="sasientoEconomico('44')" type="checkbox"/>
          </div>
          <div class="sub-contenedor-asientos">
            <input (click)="sasientoEconomico('50')" type="checkbox"/>
            <input (click)="sasientoEconomico('51')" type="checkbox"/>
            <input (click)="sasientoEconomico('52')" type="checkbox"/>
            <input (click)="sasientoEconomico('53')" type="checkbox"/>
            <input (click)="sasientoEconomico('54')" type="checkbox"/>
          </div>
        </div>
        <div class="input-group f-class">
          <div>
              <label for="">Clase Basica</label>
          </div>
          <div class="plus-minus-btn">
          </div>
      </div>
    <div class="contenedor-asientos" multiple >
        <div class="sub-contenedor-asientos">
          <input (click)="sasientoEconomico('00')" type="checkbox"/>
          <input (click)="sasientoEconomico('01')" type="checkbox"/>
          <input (click)="sasientoEconomico('02')" type="checkbox"/>
          <input (click)="sasientoEconomico('03')" type="checkbox"/>
          <input (click)="sasientoEconomico('04')" type="checkbox"/>
        </div>
        <div class="sub-contenedor-asientos">
          <input (click)="sasientoEconomico('10')" type="checkbox"/>
          <input (click)="sasientoEconomico('11')" type="checkbox"/>
          <input (click)="sasientoEconomico('12')" type="checkbox"/>
          <input (click)="sasientoEconomico('13')" type="checkbox"/>
          <input (click)="sasientoEconomico('14')" type="checkbox"/>
        </div>
        <div class="sub-contenedor-asientos">
          <input (click)="sasientoEconomico('20')" type="checkbox"/>
          <input (click)="sasientoEconomico('21')" type="checkbox"/>
          <input (click)="sasientoEconomico('22')" type="checkbox"/>
          <input (click)="sasientoEconomico('23')" type="checkbox"/>
          <input (click)="sasientoEconomico('24')" type="checkbox"/>
        </div>
        <div class="sub-contenedor-asientos">
          <input (click)="sasientoEconomico('30')" type="checkbox"/>
          <input (click)="sasientoEconomico('31')" type="checkbox"/>
          <input (click)="sasientoEconomico('42')" type="checkbox"/>
          <input (click)="sasientoEconomico('43')" type="checkbox"/>
          <input (click)="sasientoEconomico('44')" type="checkbox"/>
        </div>
        <div class="sub-contenedor-asientos">
          <input (click)="sasientoEconomico('50')" type="checkbox"/>
          <input (click)="sasientoEconomico('51')" type="checkbox"/>
          <input (click)="sasientoEconomico('52')" type="checkbox"/>
          <input (click)="sasientoEconomico('53')" type="checkbox"/>
          <input (click)="sasientoEconomico('54')" type="checkbox"/>
        </div>
      </div>
        <h3 id="conformation-message" class="conformation"></h3>

        <button (click)="enviarAhora()" id="book-btn" class="btn-style">Reserva ahora</button>

        <button (click)="enviar()" id="book-btn" class="btn-style">Reserva y paga Despues</button>

      </form>

    <div class="booking-content">
        <h1>DESCUBRE <br> A TRAVÉS DEL MUNDO</h1>

      <div style="color: black;" class="info-box" *ngIf="vuelo">
          <pre>
            <span >Id del vuelo:{{vuelosMostrar.idVuelo}}</span>
            <span >El aeropuerto de origen es:{{vuelosMostrar.idAeropuertoOrigen}}</span>
            <span >Id aeropuertode destino es:{{vuelosMostrar.idAeropuertoDestino}}</span>
            <span >EL precio es:{{vuelosMostrar.precio}}</span>
            <span >la hora de salida es:{{vuelosMostrar.horaSalida}}</span>
            <span >La hora de llegada es:{{vuelosMostrar.horaLlegada}}</span>
            <span >El precio del asiento vip es:{{vuelosMostrar.precioAsientoVip}}</span>
            <span >el precio del asiento normal es:{{vuelosMostrar.precioAsientoNormal}}</span>
            <span >El precio del asineot basico es:{{vuelosMostrar.precioAsientoBasico}}</span>
          </pre>
            </div>

            <!-- {
              "idVuelo": 6,
              "idAeropuertoOrigen": 24,
              "idAeropuertoDestino": 8,
              "precio": 999,
              "horaSalida": "2023-03-25T11:00:00.000+00:00",
              "horaLlegada": "2023-03-25T12:00:00.000+00:00",
              "precioAsientoVip": 2499,
              "precioAsientoNormal": 1499,
              "precioAsientoBasico": 799,
              "estado": "A"
            } -->







</div>

