
<div class="banner">
  <div class="navbar">
    <img src="../../../assets/logo.png" class="logo">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#" [routerLink]="['/admin-boton']">Admin</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>GESTIONA TU VUELO</h1>
    <p>Podras seleccionar el vuelo deseado,
      escoger los asientos disponibles,<br> y tener
      la posibilidad de pagar el vuelo al instante o con un plazo de tiempo determinado.</p>
    <div>
      <button type="button" [routerLink]="['/login-usuario']"><span></span>Siguiente</button>
    </div>
  </div>
</div>

